*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Libre Bodoni", "Quicksand", serif;
  height: 100vfh;
  display: flex;
  flex-direction: column;
}

header.navbar-container {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header.navbar-container .page-tittle {
  display: flex;
  justify-content: center;
  background-color: #986b4a;
  height: auto;
}

header.navbar-container .page-tittle a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
}

header.navbar-container .nav-list {
  display: flex;
  justify-content: center;
  background-color: #170e11;
}

header.navbar-container .nav-list ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 2rem;
}

header.navbar-container .nav-list li {
  list-style: none;
}

header.navbar-container .nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

main {
  display: flex;
  
  flex-flow: row wrap;
  padding: 1rem 2rem;
  font-family: "Quicksand", serif;
}

main .headline-container{
  width: 100%;
}

main .headline-container .headline-content img {
  width: 100%;
  max-height: 300px;
  opacity: 0.5;
}

main .headline-container .headline-content .headline-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main .headline-container .headline-content .headline-text a {
  color: white;
  text-decoration: none;
}

main .content {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0;
}

main .content .card {
  border: 1px solid black;
  margin: 10px 20px;
  margin-left: 0;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main .content .card a img {
  width: 100%;
  max-height: 150px;
}

main .content .card .card-text {
  padding: 20px;
}

main .content .card .card-text h2 a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

main aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1rem 0;
}

main aside .sidebar-card {
  border: 1px solid black;
  margin: 20px;
  margin-left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main aside .sidebar-card a img {
  width: 100%;
  max-height: 200px;
}

footer {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: white;
  background-color: #986b4a;
}